body{
    background-color: #050808;
}
    .icon {
        display:flex;
        justify-content:center;
        align-items:center;
        width: 25%;
        height: 15%;
        border-radius: 60%;
        object-fit: cover;
        border: 5px solid; 
        transition:transform 1.2s;
    }
  h2.name{
    font-size: 2.5em;
    text-align: center;
    color: cornsilk;
    transition:transform 1.5s;
  }
  div.text{
    font-family: Verdana;
    font-size: 1.32em;
    text-align:left;
    color: cornsilk;

  }
  h3.header{
    font-size: 2.5em;
    text-align: center;
    color: cornsilk;
  }
  h2.github{
  color: cornsilk;
  font-size:2.2;
  }
  a.profile{
  text-decoration:none;
  color:cornsilk;
  font-size:2.2;
  }
  a.profile:hover{
  color:burlywood;
  }



































